{% load staticfiles %}

    <!-- Jquery Core Js -->
    <script src="{% static 'components/static/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'components/static/plugins/bootstrap/js/bootstrap.js' %}"></script>
   
    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'components/static/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    
    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'components/static/plugins/node-waves/waves.js' %}"></script>
    
    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'components/static/plugins/jquery-countto/jquery.countTo.js' %}"></script>
    
    <!-- Morris Plugin Js -->
    <script src="{% static 'components/static/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/morrisjs/morris.js' %}"></script>
    
    <!-- ChartJs -->
    <script src="{% static 'components/static/plugins/chartjs/Chart.bundle.js' %}"></script>
    
    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'components/static/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'components/static/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'components/static/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'components/static/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'components/static/plugins/flot-charts/jquery.flot.time.js' %}"></script>
    
    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'components/static/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
    

    <!-- Custom Js -->
    <script src="{% static 'components/static/js/admin.js' %}"></script>
    <script src="{% static 'components/static/js/pages/tables/jquery-datatable.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'components/static/js/demo.js' %}"></script>

     <!-- Jquery DataTable Plugin Js -->
    <script src="{% static 'components/static/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/buttons.flash.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/jszip.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/pdfmake.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/vfs_fonts.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/buttons.html5.min.js' %}"></script>
    <script src="{% static 'components/static/plugins/jquery-datatable/extensions/export/buttons.print.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'components/static/datetime/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'components/static/datetime/js/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>

    